/*===== GOOGLE FONTS =====*/
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Kiwi+Maru:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
  font-family: SF_pro_rounded_bold;
  src: url("../font/SF-Pro-Rounded-Semibold.otf");
}
@font-face {
  font-family: SF_pro_rounded_regular;
  src: url("../font/SF-Pro-Rounded-Regular.otf");
}
@font-face {
  font-family: SF_pro_text_regular;
  src: url("../font/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: SF_pro_display_regular;
  src: url("../font/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: GT-Pressura-Black;
  src: url("../font/GT-Pressura-Black-Trial.otf");
}

@font-face {
  font-family: GT-Pressura-regular;
  src: url("../font/GT-Pressura-Mono-Regular-Trial.otf");
}


@font-face {
  font-family: GT-Pressura-medium-italic;
  src: url("../font/GT-Pressura-Mono-Medium-Italic-Trial.otf");
}



@font-face {
  font-family: GT-Pressura-medium;
  src: url("../font/GT-Pressura-Mono-Medium-Trial.otf");
}


@font-face {
  font-family: GT-Pressura-Mono-Light;
  src: url("../font/GT-Pressura-Mono-Light-Trial.otf");
}

@font-face {
  font-family: Romie_Light;
  src: url("../font/RomieTrial-Light.otf");
   font-weight: lighter;
   font-style: normal;
}

@font-face {
  font-family: Romie_regular_italic;
  src: url("../font/RomieTrial-Regular-Italic.otf");
   font-weight: normal;
   font-style: italic;
}

@font-face {
  font-family: Romie_medium;
  src: url("../font/RomieTrial-Medium.otf");
   font-weight: medium;
   font-style: italic;
}

@font-face {
  font-family: Romie_bold;
  src: url("../font/RomieTrial-Bold.otf");
   font-weight: medium;
   font-style: italic;
}


@font-face {
  font-family: luma_reverse_regular;
  src: url("../font/FAIRE-Luma-Trial-ReverseRegular.otf");
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: Romie_regular;
  src: url("../font/RomieTrial-Regular.otf");
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: Romie_black;
  src: url("../font/RomieTrial-Black.otf");
   font-weight: black;
   font-style: normal;
}

@font-face {
  font-family: lumasan_medium;
  src: url("../font/FAIRE-LumaSans-Trial-Medium.otf");
   font-weight: medium;
   font-style: normal;
}

@font-face {
  font-family: lumasan_thin;
  src: url("../font/FAIRE-LumaSans-Trial-Thin.otf");
   font-weight: thin;
   font-style: normal;
}

@font-face {
  font-family: lumasan_regular_italic;
  src: url("../font/FAIRE-LumaSans-Trial-RegularItalic.otf");
   font-weight: regular;
   font-style: italic;
}


@font-face {
  font-family: luma_reverse_black;
  src: url("../font/FAIRE-Luma-Trial-ReverseBlack.otf");
   font-weight: thin;
   font-style: normal;
}

@font-face {
  font-family: lumasan_bold;
  src: url("../font/FAIRE-LumaSans-Trial-Bold.otf");
   font-weight: bold;
   font-style: normal;
}

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  --z-fixed: 10;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}



html, body {




  margin: 0;
  padding: 0;

}


h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}




.groww { transition: all .2s ease-in-out; }
.groww:hover { transform: scale(1.02); }


/*===== LAYOUT =====*/
.bd-grid{

  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 0rem;
  width: 100%;

}



.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0);
}

/*===== NAV =====*/
.nav{
  
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
/*  font-weight: lighter;*/
}

.nav_nothome{
  background-image: linear-gradient(180deg, rgb(99.608% 99.608% 99.608%) 0%, rgb(99.608% 99.608% 99.608% / 0.999755859375) 6.25%, rgb(99.609% 99.609% 99.609% / 0.998046875) 12.5%, rgb(99.61% 99.61% 99.61% / 0.993408203125) 18.75%, rgb(99.614% 99.614% 99.614% / 0.984375) 25%, rgb(99.62% 99.62% 99.62% / 0.969482421875) 31.25%, rgb(99.629% 99.629% 99.629% / 0.947265625) 37.5%, rgb(99.641% 99.641% 99.641% / 0.916259765625) 43.75%, rgb(99.657% 99.657% 99.657% / 0.875) 50%, rgb(99.678% 99.678% 99.678% / 0.822021484375) 56.25%, rgb(99.704% 99.704% 99.704% / 0.755859375) 62.5%, rgb(99.735% 99.735% 99.735% / 0.675048828125) 68.75%, rgb(99.773% 99.773% 99.773% / 0.578125) 75%, rgb(99.818% 99.818% 99.818% / 0.463623046875) 81.25%, rgb(99.871% 99.871% 99.871% / 0.330078125) 87.5%, rgb(99.931% 99.931% 99.931% / 0.176025390625) 93.75%, rgb(100% 100% 100% / 0) 100% );
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
/*  font-weight: lighter;*/
}




@media screen and (max-width: 768px){

}

.halfwidth {
    width: 100%;
    height: 430px;
}


.card-colors {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(90px);

  transform-origin: 320px 200px;
}

.c {
  position: absolute;
  border-radius: 100%;
  -webkit-animation: fade-scale 8s infinite;
          animation: fade-scale 8s infinite;  
  opacity: 0;
}

.home{

  background-color: #FFF5E7;

  
}


.c-yellow {
  top: 6%;
  left: 15%;
  width: 520px;
  height: 380px;
  background: #FFF4C7;
   background-image: url("assets/img/noise.png");
  
}

.c-pink {
  top: 35%;
  right: 20%;
  width: 500px;
  height: 380px;
  background: #FFD1D3;
 background-image: url("assets/img/noise.png");
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;  
}

.c-orange {
  top: 10%;
  left: 40%;
  width: 500px;
  height: 430px;
  background: #FFCC82;
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='250 250 250 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;    
}

.c-blue {
  top: 45%;
  right: 40%;
  width: 500px;
  height: 500px;
  background: #66BBF7;
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='250 250 250 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /*#79F*/
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;      
}


@-webkit-keyframes fade-scale{
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  65%{
    transform: scale(1);
    opacity: 1;
  }
  80%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes fade-scale{
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  65%{
    transform: scale(1);
    opacity: 1;
  }
  80%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0.1);
    opacity: 0;
  }
}


.nav__item{
  margin-bottom: 2rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  
}

.document{
      font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.document:hover{
    font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}

.nav__item:hover{

  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
/*.home{
  background-color: white;
  overflow: hidden;
  height:100vh ;
  row-gap: 1.5rem;
}

.home__container{
background-color: white;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
  overflow: hidden;

}*/

.pub__container{

  margin: 40px;
  padding: 0 2rem;
  max-width: 71.25rem;
  width: 80%;

}

.pub_grid{

  display: flex;
  flex-direction: column;
  flex-flow: row wrap;

}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.pub{
  flex-basis: 50%;
  max-width: 50%;

}
.pub_img{  
  flex-basis: 25%;
  max-width: 25%;


}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  justify-self: center;
  padding-top: 1.5rem;
  width: 80%;
  /*position: relative;*/
  color: var(--white-color);
  transition: .5s;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;

}

/*.home__description{
  margin-bottom: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--first-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.paper__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--first-color);
  padding: 0.8rem 1rem;
  border-radius: .5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.tag{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--first-color);
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}*/

.paper__button:hover{
  background-color: #FFF3EB;
  font-weight: normal;
  color: black;
}


.home__button:hover{
  background-color: #FFF3EB;
  font-weight: normal;
  color: black;
}

.Mewindow{

  z-index: 1; 
  position: absolute;
  left: 37%; 
  top:15%;

  width: 438px;
  height: 611px;

  background: #F4F3F6;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
}

.Pubwindow{

  z-index: 0; 
  position: absolute;
  right: 4%; 
  top:50%;

  width: 570px;
  height: 250px;

  background: #F4F3F6;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
}

.toolbar{

  z-index: 10; 
  position: absolute;
  width: 70%;
  left: 27%; 
  bottom:1%;

  width: 800px;
  height: 100px;

  background: rgba(255, 255, 255, 0.4);
/*  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);*/
  border-radius: 19px;
}










  .content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #333;
    padding: 45px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
  }

  .contentMx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #333;
    padding: 45px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    opacity: 1;
  }


.tooltip {

  display: inline-block;
  margin-left: 20px;
  padding: 2px 4px;
  border: 1px solid #555;
  border-radius: 4px;
}

footer {
  font-family: SF_pro_display_regular;
  bottom: 1.5%;
  display: inline-block;
  height: 4.4em;
  left: 50%;
  min-width: 32em;
  padding: 0 10px;
  perspective: 1000px;
  position: absolute;
  text-align: center;
  transform: translatex(-50%);
}

footer:before {

  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 20px;
  bottom: 0;
  content: '';
  height: 5em;
  left: 0;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

footer ul {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0;
  transform-origin: bottom center !important;
}

footer li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 2s;
}

footer li:before {
  
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #000000;
  content: attr(data-title);
  display: block;
  float: left;
  font-size: 0.9em;
  left: 50%;
  margin: 2px auto;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  top: -35px;
  transform: translatex(-50%);
  transform-origin: bottom center !important;
  visibility: hidden;
  width: auto;
}


footer li:hover:before {
  opacity: 1;
  top: -45px;
  visibility: visible;
}
/*
.jump {
  -webkit-animation: JUMP 600ms 2 cubic-bezier(0.4, 0.01, 0.6, 0.99);
}*/

footer img {
  
  
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  top: 6px;
  margin: 0 3px;
  position: relative;
  transform: scale(1);
  transform-origin: bottom center !important;
  transition: all 0.2s;
  width: 4em;
}





.whiteBar{

  z-index: 0; 
  position: absolute;

  width: 570px;
  height: 230px;


 background: #FFFFFF;

  border-radius: 0px 0 19px 19px;
}


.greyBar{

  z-index: 0; 
  position: absolute;

  width: 570px;
  height: 50px;

  background: #F2F3F3;

  border-radius: 6px;
}



/* ===== MEDIA QUERIES =====*/
@media (max-width: 1000px) {
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
   min-height: 100%;

  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    margin-bottom: 0;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }



  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 700px;
    height: 466px;
  }

  .home__img img{
    width: 100%;
  }
}



.gallery {
  padding: 0 0 4rem 0;
}

.img-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  &:hover .img-content-hover {
    display: block;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

@font-face {
  font-family: SF_pro_rounded_regular;
  src: url("../font/SF-Pro-Rounded-Regular.otf");
}

@font-face {
  font-family: SF_pro_rounded_bold;
  src: url("font/SF-Pro-Rounded-Semibold.otf");
}


a{
  color: inherit;
  text-decoration: inherit;
}
/*a:hover{
  font-style: italic;
}*/

.project_container{
  position: relative;
  max-width: 50rem;
  margin: 2rem auto;
  background: #EDF0EE;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 12px 16px -8px rgba(0,0,0,0.2);
}
.header{
  margin-left: 2.5rem;
  background-color: #e5e5e5;
}

.main{
  box-sizing: border-box;
  width: calc(100% - 3.5rem);
  padding: 3.5rem;
  border-bottom: 1px solid #e4e4e4;
}

.nav__ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__li a{
  text-decoration: none;
  color: inherit;
}
/*.nav--primary{
  width: calc(100% - 3.5rem);
}
.nav--primary .nav__ul{
  display: flex;
  flex-flow: row wrap;
}
.nav--primary .nav__li{
  box-sizing: border-box;
  flex: 1 1 50%;
  padding: 2rem 1.2rem 1rem 1.2rem;
}
.nav--primary .nav__li:nth-child(1){
  border-left: 2px solid rgba(0,0,0,0.010);
}
.nav--primary .nav__li:nth-child(2){
  border-radius: 0 5px 0 0;
}
.nav--primary .nav__li:nth-child(3){
  border-left: 2px solid rgba(0,0,0,0.010);
}
.nav__li--top{
  border-bottom: 1px solid #f0f0f0;
  background-color: #E5EBEB;
}
.nav__li--bottom{
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid rgba(0,0,0,0.005);
  background-color: #E0E2E1;
}

.nav--secondary{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 100%;
  background-color: #e5e5e5;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(229,229,229,1) 16%, rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e5e5e5', GradientType=1 );
}
.nav__ul--rotate{
  display: flex;
  transform: rotate(-90deg) translateX(-9.5rem);
  flex-direction: row-reverse;
  width: 100%;
  align-self: flex-start;
}
.nav__ul--rotate .nav__li{
  box-sizing: border-box;
  flex: 1 0 16em;
  margin: 0;
  margin-top: 1rem;
  padding-top: 0.5em;
  padding-right: 1em;
  border-right: 1px solid #b1b1b1;
  text-align: right;
  height: 3rem;
}*/

.h--border{
  margin-top: 0;
  padding-top: 1rem;
  border-top: 1px solid #b1b1b1;
}
.h--x-large,
.h--large{
  font-weight: normal;
  font-size: 3.875rem;
}
.h--large{
  font-size: 2.625rem;
}
.h--med{
  font-size: 1.2rem;
}
.h--small{
  font-size: 0.8rem;
}
.h-margin--lrg{
  margin-bottom: calc(8.8rem - 1em);
}

.project-list{
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}


.project-list{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-list__item{
  flex: 0 1 calc(50% - 0.5rem);
  margin-bottom: 3rem;
}

.pub-list__item{
  flex: 0 1 calc(100% - 0.5rem);
  margin-bottom: 3rem;
}

@media only screen and (min-width: 600px) {
  
  .header{
    margin-left: 3.5rem;
  }
  .main{
    padding: 4.5rem;
  }
  
}

.ibm-plex mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}











